#home {
  padding: 5vh;
  display: flex;
  flex-direction: column;
}

.form {
  padding: 2%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#logo-zealthy {
  border-radius: 10%;
  max-height: 5vw;
  max-width: 5vw;
  margin: 1.5em;
  filter: drop-shadow(0 0 2em #61fba694);
}

.input-and-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70vw;
  margin: 1%;
}

input {
  margin: 1%;
}
