.ticket {
  background-color: #646464;
}

input,
li {
  padding: 0.6rem 1rem;
  margin: 0;
}
li {
  position: relative;
}
ul {
  list-style: none;
  padding: 0;
}
li li:hover {
  color: white;
  background-color: grey;
}
li li.current {
  color: white;
  background-color: pink;
}
#universe {
  width: 240px;
}
.select-list-group,
.select-list-group * {
  width: 100%;
}
.select-list-group
  .select-list-group__search
  + .select-list-group__toggle:after {
  content: 'v';
  font-family: sans-serif;
  position: absolute;
  top: 0.6rem;
  right: 0.7rem;
  width: 2rem;
  padding: 0.6rem;
  text-align: center;
}
